@media only screen and (min-width: 950px){
	.container{
		padding-right: 0;
		padding-left: 0;
		width: 935px;
	}
	
	header .navbar .search 		{display: inline-block;}

	.post{
		width: 600px;

		.image 		{height: 600px;}
	}

	footer{
		ul{
			flex-direction: row;
			width: 70%;
		}
		.copyright{
			margin-top: -30px;
			float: right;
		}
	}
}