/* VARIABLES 
======================== */
$bg-white: 		#ffffff;
$bg-grey: 		#fafafa;
$dark-blue: 	#004879;
$dark-grey: 	#a5a7aa;
$font-color: 	#000000;
$light-blue: 	#4090db;
$light-grey: 	#ededed;
$main-blue: 	#125688;

$font: 			'Fira Sans', sans-serif;

/* MIXIN 
======================== */
@mixin transition($time){
	-webkit-transition: all $time ease;
	   -moz-transition: all $time ease;
		-ms-transition: all $time ease;
		 -o-transition: all $time ease;
			transition: all $time ease;
}
@mixin transform($w,$h){
	-webkit-transform: translate($w,$h);
	   -moz-transform: translate($w,$h);
		-ms-transform: translate($w,$h);
		 -o-transform: translate($w,$h);
			transform: translate($w,$h);
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

/* MAIN 
======================== */
body{
	font-family: $font;
	background: $bg-grey;
}
a{
	color: $main-blue;
	text-decoration: none !important;
	@include transition(0.4s);

	&:hover 	{color: $light-blue;}
}
.container{
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
}
h3{
	font-weight: 300;
	font-size: 2.5em;
}
h4{
	margin-top: 30px;
	font-weight: 300;
	font-size: 1.8em;
}

.upload-btn{
	margin-bottom: 10px;
	color: $light-blue;
	display: block;
}
.upload-txt{
	outline: none !important;
	padding: 5px;
	width: 350px;
	border: 1px solid $dark-grey;
	font-weight: 300;

	&:focus{
		border: 1px solid $light-blue;
	}
}
.post_img_button{
	background: none;
	border: 1px solid $dark-grey;
	color: $dark-grey;
	padding: 10px 25px;
	font-weight: 300;
	@include transition(0.4s);

	&:hover{
		background: $dark-blue;
		border-color: $dark-blue;
		color: #fff;
	}
}
.location{
	border: 1px solid $light-grey;
	margin-bottom: 5px;
	color: $dark-grey;
	font-weight: 300;
	font-style: italic;
	width: 250px;
	padding: 3px 5px;
}
/* HEADER 
======================== */
header{
	background: $bg-white;

	.navbar{
		margin: 0;
		padding: 0;
		background: $bg-white;

		.search{
			position: absolute;
			padding-top: 8px;
			left: 50%;
			width: 270 px;
			display: none;
			@include transform(-50%,0);

			form{
				display: flex;

				.input-group-addon{
					padding-top: 8px;
					width: 35px;
				}
				.btn-search{
					background: $dark-blue;
					color: #fff;
					border: none;
					padding-right: 10px;
					padding-left: 10px;
					font-weight: 300;
					border-color: $dark-blue;
					border-radius: 0 25px 25px 0;
				}
			}

		}

		.input-group{
			span 	{border-radius: 25px 0 0 25px;}
			input 	{border-radius: 25px;}
		}

		a{
			color: $dark-blue !important;

			&:hover 	{color: $main-blue;}
		}
	}
}

/* CONTENT 
======================== */
.post{
	margin: 50px auto;
	width: 350px;
	border: 1px solid $light-grey;

	header{
		background: $bg-white;
		height: 60px;

		h5{
			padding: 10px 20px;
			margin: 0;
		}

		span{
			color: $dark-grey;
			font-weight: 400;
			margin-top: 12px;
		}

		img{
			margin-right: 10px;
			width: 40px;
			height: 40px;
			max-width: 40px;
			max-height: 40px;
			@include border-radius(50%);
		}
		a.pull-right{
			margin-top: 7px;
			display: inline-block;
			padding: 5px 10px;
		}
	}

	.image{
		background: url('https://static.pexels.com/photos/39493/animals-cat-girl-happiness-39493.jpeg');
		background-size: cover;
		height: 350px;
	}

	.bottom{
		background: #fff;
		padding-right: 20px;
		padding-bottom: 10px;
		padding-left: 20px;
		height: auto;

		.poster{
			margin-top: 20px;
		}

		.likes{
			margin: 10px 0;

			ul{
				list-style-type: none;
				padding: 0;
				display: flex;
				flex-wrap: wrap;

				li{
					padding: 1px 0;

					&:after{
						content: ',';
						margin-right: 3px;
					}
					&:last-child:after{
						content: '';
					}
				}
				&:after{
					padding: 1px 0;
					content: ' vinden dit leuk.';
					font-weight: 300;
				}
			}
		}
		
		.reacties{
			p{
				font-weight: 300;
			}
			ul{
				list-style-type: none;
				padding: 0;
				li{
					font-weight: 300;
				}
			}
		}

		.reageren{
			padding-top: 10px;
			border-top: 1px solid $light-grey;
			display: flex;
			
			form{
				width: 100%;
			}

			i{
				font-size: 2em;
				margin-right: 10px;
			}
			.reactie-plaatsen{
				display: inline-block;
				font-weight: 300;
				width: 100%;
				border: none;
				outline: none !important;
			}
		}
	}
}
.login-form{
	margin: 50px auto;
	width: 50%;

	button{
		margin-bottom: 10px;
	}
}
.acc-details{
	display: flex;
	padding: 50px 0;

	.pic{
		text-align: center;
		align-self: center;

		.img{
			margin: 0 auto;
			margin-bottom: 10px;
			width: 150px;
			height: 150px;
			background-size: cover !important;
			@include border-radius(50%);
		}
	}

	.bio{

		h4{
			display: flex;
			font-weight: 300;
			font-size: 1.8em;
			text-transform: lowercase;

			a{
				align-self: center;
				display: inline-block;
				margin-left: 15px;
				border: 1px solid $dark-grey;
				padding: 8px 15px;
				color: $dark-grey;
				font-weight: 400;
				font-size: 0.4em;
				text-transform: uppercase;
				@include border-radius(5px);
			}
		}

		p 	{font-weight: 300;}
		a 	{font-weight: 400;}

		ul{
			list-style-type: none;
			padding: 0;

			li{
				display: inline-block;
				margin-right: 25px;

				strong 	{font-size: 1.2em;}
			}
		}
	}
}

.acc-uploads{
	margin-top: 50px;

	ul{
		list-style-type: none;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		li{
			margin-bottom: 25px;
			width: 290px;
			height: 290px;

			img{
				width: 100%;
				height: 100%;
			}
		}
	}
}

.acc-update{

}

.select-filter{
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	li{
		margin-bottom: 20px;
		width: 23%;
		height: 150px;

		figure{
			width: 100%;
			height: 125px;
			display: inline-block; 
			text-align: center;

			img{
				width: 100%;
				max-height: 125px;
			}
		}
	}
}

/* FOOTER 
======================== */
footer{
	padding-top: 50px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.8em;

	ul{
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		width: 100%;
		
		a{
			display: block;
			padding: 5px 10px;
		}
	}

	.copyright 	 	{text-align: center;}
}

/* RESPONSIVE 
======================== */
@import 'responsive.scss';