/* VARIABLES 
======================== */
/* MIXIN 
======================== */
/* MAIN 
======================== */
body {
  font-family: "Fira Sans", sans-serif;
  background: #fafafa;
}

a {
  color: #125688;
  text-decoration: none !important;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a:hover {
  color: #4090db;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

h3 {
  font-weight: 300;
  font-size: 2.5em;
}

h4 {
  margin-top: 30px;
  font-weight: 300;
  font-size: 1.8em;
}

.upload-btn {
  margin-bottom: 10px;
  color: #4090db;
  display: block;
}

.upload-txt {
  outline: none !important;
  padding: 5px;
  width: 350px;
  border: 1px solid #a5a7aa;
  font-weight: 300;
}
.upload-txt:focus {
  border: 1px solid #4090db;
}

.post_img_button {
  background: none;
  border: 1px solid #a5a7aa;
  color: #a5a7aa;
  padding: 10px 25px;
  font-weight: 300;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.post_img_button:hover {
  background: #004879;
  border-color: #004879;
  color: #fff;
}

.location {
  border: 1px solid #ededed;
  margin-bottom: 5px;
  color: #a5a7aa;
  font-weight: 300;
  font-style: italic;
  width: 250px;
  padding: 3px 5px;
}

/* HEADER 
======================== */
header {
  background: #ffffff;
}
header .navbar {
  margin: 0;
  padding: 0;
  background: #ffffff;
}
header .navbar .search {
  position: absolute;
  padding-top: 8px;
  left: 50%;
  width: 270 px;
  display: none;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
header .navbar .search form {
  display: flex;
}
header .navbar .search form .input-group-addon {
  padding-top: 8px;
  width: 35px;
}
header .navbar .search form .btn-search {
  background: #004879;
  color: #fff;
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 300;
  border-color: #004879;
  border-radius: 0 25px 25px 0;
}
header .navbar .input-group span {
  border-radius: 25px 0 0 25px;
}
header .navbar .input-group input {
  border-radius: 25px;
}
header .navbar a {
  color: #004879 !important;
}
header .navbar a:hover {
  color: #125688;
}

/* CONTENT 
======================== */
.post {
  margin: 50px auto;
  width: 350px;
  border: 1px solid #ededed;
}
.post header {
  background: #ffffff;
  height: 60px;
}
.post header h5 {
  padding: 10px 20px;
  margin: 0;
}
.post header span {
  color: #a5a7aa;
  font-weight: 400;
  margin-top: 12px;
}
.post header img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.post header a.pull-right {
  margin-top: 7px;
  display: inline-block;
  padding: 5px 10px;
}
.post .image {
  background: url("https://static.pexels.com/photos/39493/animals-cat-girl-happiness-39493.jpeg");
  background-size: cover;
  height: 350px;
}
.post .bottom {
  background: #fff;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  height: auto;
}
.post .bottom .poster {
  padding-top: 20px;
}
.post .bottom .likes {
  margin: 10px 0;
}
.post .bottom .likes ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.post .bottom .likes ul li {
  padding: 1px 0;
}
.post .bottom .likes ul li:after {
  content: ',';
  margin-right: 3px;
}
.post .bottom .likes ul li:last-child:after {
  content: '';
}
.post .bottom .likes ul:after {
  padding: 1px 0;
  content: ' vinden dit leuk.';
  font-weight: 300;
}
.post .bottom .reacties p {
  font-weight: 300;
}
.post .bottom .reacties ul {
  list-style-type: none;
  padding: 0;
}
.post .bottom .reacties ul li {
  font-weight: 300;
}
.post .bottom .reageren {
  padding-top: 10px;
  border-top: 1px solid #ededed;
  display: flex;
}
.post .bottom .reageren form {
  width: 100%;
}
.post .bottom .reageren i {
  font-size: 2em;
  margin-right: 10px;
}
.post .bottom .reageren .reactie-plaatsen {
  display: inline-block;
  font-weight: 300;
  width: 100%;
  border: none;
  outline: none !important;
}

.login-form {
  margin: 50px auto;
  width: 50%;
}
.login-form button {
  margin-bottom: 10px;
}

.acc-details {
  display: flex;
  padding: 50px 0;
}
.acc-details .pic {
  text-align: center;
  align-self: center;
}
.acc-details .pic .img {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
  background-size: cover !important;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.acc-details .bio h4 {
  display: flex;
  font-weight: 300;
  font-size: 1.8em;
  text-transform: lowercase;
}
.acc-details .bio h4 a {
  align-self: center;
  display: inline-block;
  margin-left: 15px;
  border: 1px solid #a5a7aa;
  padding: 8px 15px;
  color: #a5a7aa;
  font-weight: 400;
  font-size: 0.4em;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.acc-details .bio p {
  font-weight: 300;
}
.acc-details .bio a {
  font-weight: 400;
}
.acc-details .bio ul {
  list-style-type: none;
  padding: 0;
}
.acc-details .bio ul li {
  display: inline-block;
  margin-right: 25px;
}
.acc-details .bio ul li strong {
  font-size: 1.2em;
}

.acc-uploads {
  margin-top: 50px;
}
.acc-uploads ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.acc-uploads ul li {
  margin-bottom: 25px;
  width: 290px;
  height: 290px;
}
.acc-uploads ul li figure {
  height: 100%;
}
.acc-uploads ul li img {
  width: 100%;
  height: 100%;
}

.select-filter {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.select-filter li {
  margin-bottom: 20px;
  width: 23%;
  height: 150px;
}
.select-filter li figure {
  width: 100%;
  height: 125px;
  display: inline-block;
  text-align: center;
}
.select-filter li figure img {
  width: 100%;
  max-height: 125px;
}

/* FOOTER 
======================== */
footer {
  padding-top: 50px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
}
footer ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer ul a {
  display: block;
  padding: 5px 10px;
}
footer .copyright {
  text-align: center;
}

/* RESPONSIVE 
======================== */
@media only screen and (min-width: 950px) {
  .container {
    padding-right: 0;
    padding-left: 0;
    width: 935px;
  }

  header .navbar .search {
    display: inline-block;
  }

  .post {
    width: 600px;
  }
  .post .image {
    height: 600px;
  }

  footer ul {
    flex-direction: row;
    width: 70%;
  }
  footer .copyright {
    margin-top: -30px;
    float: right;
  }
}
